<footer>
  <div class="wrapper">
    <div class="footer-content">
      <a class="github" href="https://github.com/biandresen/House-of-Messages">
        <img src="/icons/github.svg" alt="" />
      </a>
      <p class="copyright">&copy; Birger Andresen</p>
      <a class="to-the-top" href="#">
        <img src="/icons/to-the-top.svg" alt="" />
      </a>
    </div>
  </div>
</footer>
