<header>
  <div class="wrapper">
    <div class="header__content">
      <h1 class="header__app-name">App Name</h1>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__list-item">
            <a href="/">Home</a>
          </li>
          <li class="header__list-item">
            <a href="/">About</a>
          </li>
          <li class="header__list-item">
            <a href="/">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
