<section class="error-404__card">
  <h2 class="error-404__heading">404 ERROR</h2>
  <p class="error-404__sub-heading">SOMETHING WENT WRONG</p>
  <p class="error-404__sub-heading">NO PAGE FOUND</p>
  <p class="error-404__text">Try again or</p>
  <button class="error-404__btn btn-filled">
    <a href="/">GO BACK</a>
  </button>
</section>
