@import url("./reset.css");
@import url("./utils.css");

/** GENERAL */
body {
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  background-color: var(--clr-bg-1);
  color: var(--clr-text-1);
}
main {
  max-width: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img[style="display: inline"] {
  translate: 0 20%;
  opacity: var(--opacity-mid);
}
button {
  cursor: pointer;
  margin: var(--space-xl) 0;
  padding: var(--space-s) var(--space-l);
  border: none;
  border-radius: var(--space-100);

  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-secondary);
}
button:hover,
a:hover {
  filter: brightness(1.18);
}
.read-more-btn {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi);
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--clr-tertiary);
}
.btn-filled {
  background-color: var(--clr-tertiary);
  color: var(--clr-bg-1);
}
.btn-outlined {
  background-color: transparent;
  border: 1px solid var(--clr-tertiary);
  color: var(--clr-tertiary);
}
.message__heading {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

/** HEADER */
header {
  width: 100%;
  background-color: var(--clr-bg-2);
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 200;
}
.header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__app-name {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-secondary);
}
.header__menu-button {
  background-color: transparent;
}
.header__menu-icon-open {
}
.header__menu-icon-close {
}
.header__nav {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: -20px;
  padding: 0 var(--space-2xl);
  transition: max-height 0.4s ease;
  z-index: 100;
  min-width: 100vw;

  background-color: var(--clr-bg-2);
}
/* When nav is open */
.header.nav-open .header__nav {
  border-bottom: 2px solid var(--clr-secondary);
  box-shadow: var(--shadow-bottom);
}
.header__menu-icon-close {
  display: none;
}
.header.nav-open .header__menu-icon-open {
  display: none;
}
.header.nav-open .header__menu-icon-close {
  display: inline;
}
.header__profile-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}
.header__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}
.header__list-item {
  list-style: none;
}
.header__list-item:last-child {
  padding-bottom: var(--space-l);
}

/** REGISTER */
.register__heading {
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}
.register__form-card {
  padding: var(--space-xl);
  border-radius: var(--space-m);

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.register__form {
}
.register__input-wrapper {
  display: flex;
  flex-direction: column;
}
.register__label {
  font-weight: var(--font-weight-bold);
}
.register__input {
  text-indent: 5px;
  padding: 0 var(--space-s);
  border: none;
  border-radius: var(--space-100);
  margin-bottom: var(--space-s);

  background-color: var(--clr-bg-1);
  color: var(--clr-text-1);
}
.register__input::placeholder {
  color: var(--clr-text-1);
  opacity: var(--opacity-mid);
}
.register__submit-btn-wrapper {
  display: flex;
  flex-direction: column;
}
.register__submit-btn {
}
.register__error-message,
.login__error-message {
  border-radius: var(--space-m);
  margin: 0 0 var(--space-m) 0;
  padding: var(--space-m) var(--space-xl);

  font-size: var(--font-size-xs);
  background-color: var(--clr-error);
  color: var(--clr-text-2);
}
.register__error-message ul li {
  margin-left: var(--space-s);
}
.register__toggle-login {
  font-style: italic;
}
.register__login-link {
  text-decoration: underline;
}
.register__form-card-hr {
  border: none;
  height: 1px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);

  background-color: var(--clr-secondary);
}
.register__requirements-wrapper {
  padding-top: var(--space-xs);
}
.register__requirements-info {
  font-size: var(--font-size-xs);
}
.register__info-card {
  margin: var(--space-2xl) 0;
  padding: var(--space-xl);
  border-radius: var(--space-m);

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.register__info-main-heading {
  padding-bottom: var(--space-s);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.register__info-heading {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}
.register__info-text {
  font-size: var(--font-size-s);
  padding-bottom: var(--space-m);
  line-height: var(--line-height-s);
}

/** LOGIN */
.login__heading {
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}
.login__form-card {
  padding: var(--space-xl);
  border-radius: var(--space-m);

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.login__form {
}
.login__input-wrapper {
  display: flex;
  flex-direction: column;
}
.login__label {
  font-weight: var(--font-weight-bold);
}
.login__input {
  text-indent: 5px;
  padding: 0 var(--space-s);
  border: none;
  border-radius: var(--space-100);
  margin-bottom: var(--space-s);

  background-color: var(--clr-bg-1);
  color: var(--clr-text-1);
}
.login__input::placeholder {
  color: var(--clr-text-1);
  opacity: var(--opacity-mid);
}
.login__submit-btn-wrapper {
  display: flex;
  flex-direction: column;
}
.login__submit-btn {
}
.login__error-message {
  border-radius: var(--space-m);
  margin: 0 0 var(--space-m) 0;
  padding: var(--space-m) var(--space-xl);

  font-size: var(--font-size-xs);
  background-color: var(--clr-error);
  color: var(--clr-text-2);
}
.login__error-message ul li {
  margin-left: var(--space-s);
}
.login__toggle-login {
  font-style: italic;
  margin-bottom: 5px;
}
.login__login-link {
  text-decoration: underline;
}
.login__form-card-hr {
  border: none;
  height: 1px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);

  background-color: var(--clr-secondary);
}
.login__requirements-wrapper {
  padding-top: var(--space-xs);
}
.login__requirements-info {
  font-size: var(--font-size-xs);
}

.login__info-card {
  margin: var(--space-2xl) 0;
  padding: var(--space-xl);
  border-radius: var(--space-m);

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.login__info-main-heading {
  padding-bottom: var(--space-s);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.login__info-heading {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}
.login__info-text {
  font-size: var(--font-size-s);
  padding-bottom: var(--space-m);
  line-height: var(--line-height-s);
}

/** HOME  */
.home__heading {
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}
.home__info-card {
  position: relative;
  padding: var(--space-xl);
  border-radius: var(--space-m);
  max-width: 600px;

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.home__info-main-heading {
  padding-bottom: var(--space-s);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--space-l);
}
.home__user-data-heading {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}
.home__information-wrapper {
  padding: var(--space-s) 0 0 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  row-gap: 0.3rem;
  column-gap: 0.8rem;
}
.home__label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
}
.home__value {
  font-size: var(--font-size-s);
}
.home__buttons-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 266px;
}
.home__buttons-wrapper-child {
  display: flex;
  justify-content: space-between;
}
.home__messages-btn,
.home__new-message-btn {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
.home__join-btn {
  margin-top: 0;
  margin-bottom: var(--space-2xl);
  width: 100%;
}
.home__info-heading {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}
.home__info-text {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.post-card {
  position: relative;
  padding: var(--space-xl);
  border-radius: var(--space-m);
  margin-bottom: var(--space-3xl);
  max-width: 600px;
  width: 90vw;

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.post-card.faded {
  margin-bottom: 0;
}
.post-card__delete-btn {
  position: absolute;
  margin: 0;
  padding: var(--space-xs) var(--space-s);
  top: var(--space-m);
  right: var(--space-m);

  font-size: 11px;
}
.post-card__title {
  word-wrap: break-word;
  max-width: 260px;
  width: 75%;
  line-height: var(--line-height-ss);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-semi);
  padding: var(--space-m) 0 var(--space-l) 0;
  margin-top: -12px;
}
.post-card__text {
  word-wrap: break-word;
  font-size: var(--font-size-xm);
  padding-bottom: var(--space-m);
  line-height: var(--line-height-s);
}
.post-card__hr {
  border: none;
  height: 1px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: var(--space-l);
  margin-bottom: var(--space-s);

  background-color: var(--clr-secondary);
}
.post-card__details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
}

/** JOIN PAGE */
.join__heading {
  text-align: center;
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}
.join-card {
  padding: var(--space-xl);
  border-radius: var(--space-m);
  margin-bottom: var(--space-xl);

  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
}
.join-card__title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
}
.join-form {
}
.join-card__input {
  text-indent: 5px;
  width: 100%;
  padding: 0 var(--space-s);
  border: none;
  border-radius: var(--space-100);
  margin-bottom: var(--space-s);

  background-color: var(--clr-bg-1);
  color: var(--clr-text-1);
}
.join-card__input::placeholder {
  color: var(--clr-text-1);
  opacity: var(--opacity-mid);
}
.join-card__button-wrapper {
}
.join-btn {
  font-size: var(--font-size-l);
  padding: var(--space-xs) var(--space-3xl);
  width: 100%;
  margin: var(--space-m) 0 var(--space-s) 0;
}
.join-card__error-message {
  border-radius: var(--space-m);
  margin: var(--space-s) 0 var(--space-m) 0;
  padding: var(--space-m) var(--space-xl);

  font-size: var(--font-size-s);
  background-color: var(--clr-error);
  color: var(--clr-text-2);
}
.join-card__hr {
  border: none;
  height: 1px;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);

  background-color: var(--clr-secondary);
}
.join-card__details-wrapper {
  margin: -5px 0 -10px 0;
}
.join-card__info {
  font-size: var(--font-size-s);
}

/** MESSAGES-PAGE  */
.messages__heading {
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  margin-right: var(--space-l);
}
.messages__wrapper {
  display: flex;
  justify-content: space-between;
}
.messages__wrapper-child {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.messages__new-message {
  font-size: var(--font-size-l);
  border-radius: var(--space-100);
  padding: var(--space-xs) var(--space-xs);
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.messages__toggle-messages-nav {
  position: fixed;
  right: 20px;
  background-color: transparent;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: rotate 0.3s ease-in-out;
}
.messages__toggle-messages-nav.sticky {
  position: fixed;
  right: 20px;
}
.messages__nav {
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100% - 55px);
  min-width: 100vw;
  transform: translateX(100%); /* hide */
  transition: transform 0.3s ease;
  z-index: 5;
  padding: 0 var(--space-2xl);
  overflow-y: auto;

  border-top: 2px solid var(--clr-secondary);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  background-color: var(--clr-bg-2);
  opacity: 0.98;
}
.messages__nav-heading {
  padding-top: var(--space-m);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-2xl);
}
.messages__nav-list {
  padding-left: var(--space-2xl);
  word-wrap: break-word;
  line-height: var(--line-height-xs);
}
.messages__nav-item {
  font-size: var(--font-size-xl);
}
.messages__nav-item:last-child {
  padding-bottom: var(--space-2xl);
}
.messages__nav-open {
  transform: translateX(0); /* slide into view */
}

/** NEW-MESSAGE-PAGE  */
.new-message__heading {
  padding-top: var(--space-s);
  padding-bottom: var(--space-m);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
}
.new-message__form {
}
.new-message__title-wrapper {
  display: flex;
  gap: var(--space-s);
}
.new-message__title-label {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.new-message__input {
  text-indent: 5px;
  padding: 0 var(--space-s);
  border: none;
  border-radius: var(--space-100);
  margin-bottom: var(--space-s);
  width: 100%;

  font-size: var(--font-size-xl);
  background-color: var(--clr-bg-1);
  color: var(--clr-text-1);
}
.new-message__text-label {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
.new-message__text {
  resize: none;
  overflow: hidden;
  display: block;
  text-indent: 5px;
  padding: 0 var(--space-s);
  border: none;
  border-radius: var(--space-m);
  margin-bottom: var(--space-s);
  width: 100%;
  max-width: 100%;
  min-height: 50px;

  font-size: var(--font-size-xl);
  background-color: var(--clr-bg-1);
  color: var(--clr-text-1);
}
.new-message__details-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  margin-bottom: -8px;
}
.new-message__post-btn {
  margin: var(--space-xs) 0;
  margin-left: auto;
  max-height: 35px;
}
.new-message__error {
  border-radius: var(--space-m);
  padding: var(--space-m) var(--space-xl);

  font-size: var(--font-size-s);
  background-color: var(--clr-error);
  color: var(--clr-text-2);
}

/** 404-PAGE  */
.error-404__card {
  padding: var(--space-xl);
  border-radius: var(--space-m);
  border: 2px solid var(--clr-secondary);
  background-color: var(--clr-bg-2);
  margin: auto;
  translate: 0% 25%;
  text-align: center;
}
.error-404__heading {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}
.error-404__sub-heading {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-m);
}
.error-404__text {
  padding-top: var(--space-l);
  font-size: var(--font-size-xl);
}
.error-404__btn {
  margin-top: var(--space-s);
  padding: var(--space-s) var(--space-2xl);
}

footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--clr-bg-2);
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 100;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-l);
}
.to-the-top:hover {
  animation: jump 0.8s ease-in-out infinite;
}
.github:hover {
  animation: spin 0.7s ease-in;
}

@keyframes jump {
  0% {
    translate: 0 0%;
    transform: scale(1);
  }
  50% {
    translate: 0 -50%;
    transform: scale(1.15);
  }
  100% {
    translate: 0 0%;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
    transform: scale(1);
  }
  50% {
    rotate: 360deg;
    transform: scale(1.5);
  }
  100% {
    rotate: 0deg;
    transform: scale(1);
  }
}
/* Mobile Phone Screen Range */
@media (min-width: 768px) {
  /** GENERAL  */
  .post-card {
    max-width: 100%;
  }
  .post-card__title {
    width: 100%;
    max-width: 600px;
  }
  .post-card.faded {
    max-width: 100%;
    width: 600px;
  }
  .read-more-btn {
    font-size: var(--font-size-s);
  }
  /** HEADER  */
  .header__app-name {
    font-size: var(--font-size-2xl);
  }
  .header.nav-open .header__nav {
    border-bottom: none;
  }
  .header__menu-button {
    display: none;
  }
  .header__nav {
    padding-right: 0;
    max-height: 100% !important;
    position: static;
    transition: none;
    min-width: auto;
  }
  .header__profile-wrapper {
    display: flex;
    align-items: center;
    gap: var(--space-s);
  }
  .header__list {
    display: flex;
    flex-direction: row;
    gap: var(--space-2xl);
    font-size: var(--font-size-l);
  }
  .header__list-item:first-child {
    align-self: center;
    order: 5;
  }
  .header__list-item:last-child {
    padding-bottom: 0;
  }
  .header__profile-username {
    display: none;
  }

  /** REGISTER-PAGE  */
  .register__wrapper {
    display: flex;
    gap: var(--space-3xl);
  }
  .register__form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .register__form-card {
    min-width: 47%;
  }
  .register__info-card {
    margin: 0 0;
  }
  .register__input-wrapper {
    display: flex;
    flex-direction: column;
  }
  .register__label {
    font-size: var(--font-size-l);
  }
  .register__input {
    font-size: var(--font-size-l);
  }
  .register__submit-btn-wrapper {
    font-size: var(--font-size-l);
    flex: 1;
  }
  .register__error-message {
    padding: var(--space-m) var(--space-2xl);
    font-size: var(--font-size-s);
  }
  .register__toggle-login {
    font-style: italic;
    margin-bottom: var(--space-l);
  }
  .register__form-card-hr {
    margin-top: auto;
  }
  .register__info-card {
    margin: 0 0;
  }
  .register__info-main-heading {
    font-size: var(--font-size-2xl);
  }
  .register__info-heading {
    font-size: var(--font-size-xl);
  }
  .register__info-text {
    font-size: var(--font-size-m);
  }
  .register__requirements-info {
    font-size: var(--font-size-s);
  }

  /** LOGIN-PAGE  */
  .login__wrapper {
    display: flex;
    gap: var(--space-3xl);
  }
  .login__submit-btn-wrapper {
    flex: 1;
  }
  .login__form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .login__form-card {
    min-width: 47%;
  }
  .login__info-card {
    margin: 0 0;
  }
  .login__label {
    font-size: var(--font-size-l);
  }
  .login__input {
    font-size: var(--font-size-l);
  }
  .login__error-message {
    font-size: var(--font-size-s);
  }
  .login__toggle-login {
    font-size: var(--font-size-l);
  }
  .login__form-card-hr {
    margin-top: auto;
  }
  .login__requirements-wrapper {
    padding-top: var(--space-xs);
  }
  .login__requirements-info {
    font-size: var(--font-size-s);
  }
  .login__info-card {
    margin: 0 0;
  }
  .login__info-main-heading {
    font-size: var(--font-size-2xl);
  }
  .login__info-heading {
    font-size: var(--font-size-xl);
  }
  .login__info-text {
    font-size: var(--font-size-m);
  }

  /** HOME-PAGE */
  .home__wrapper {
    display: flex;
    gap: var(--space-5xl);
  }
  .home__latest-message-wrapper {
    margin-top: -65px;
    width: 160%;
  }
  .home__info-main-heading {
    font-size: var(--font-size-2xl);
  }
  .home__user-data-heading {
    font-size: var(--font-size-xl);
  }
  .home__label {
    font-size: var(--font-size-l);
  }
  .home__value {
    font-size: var(--font-size-l);
  }
  .home__buttons-wrapper {
    padding-top: 10px;
    max-width: 350px;
  }
  .home__messages-btn,
  .home__new-message-btn {
    font-size: var(--font-size-l);
    padding-left: var(--space-2xl);
    padding-right: var(--space-2xl);
  }
  .home__join-btn {
    font-size: var(--font-size-l);
  }
  .home__info-heading {
    font-size: var(--font-size-xl);
  }
  .home__info-text {
    font-size: var(--font-size-m);
  }

  /** JOIN-PAGE  */
  .join-card__input {
    font-size: var(--font-size-l);
  }
  .join-btn {
    font-size: var(--font-size-xl);
  }
  .join-card__error-message {
    font-size: var(--font-size-m);
  }
  .join-card__info {
    font-size: var(--font-size-m);
  }

  /** MESSAGES-PAGE  */
  .messages__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .messages__flex-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: var(--space-5xl);
  }
  .messages__wrapper-child {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
  }
  .messages__post-card-wrapper {
    max-width: 60%;
  }
  .messages__new-message {
    padding-left: var(--space-2xl);
    height: 28px;
    margin-right: auto;
    margin-left: 32px;
    font-weight: var(--font-weight-bold);
    color: var(--clr-bg-1);
    background-color: var(--clr-tertiary);
  }
  .messages__new-message::before {
    content: "NEW MESSAGE";
  }
  .messages__toggle-messages-nav {
    display: none;
  }
  .messages__nav {
    position: sticky;
    top: 75px;
    min-width: 35%;
    width: 40%;
    transform: translateX(0%);
    transition: none;

    border: 2px solid var(--clr-secondary);
    border-radius: var(--space-l);
    opacity: 1;
  }
  .messages__nav-heading {
    text-align: center;
  }
  .messages__nav-list {
    padding-left: var(--space-2xl);
  }
  .messages__nav-item {
    font-size: var(--font-size-xl);
    padding-bottom: var(--space-m);
  }

  /** NEW-MESSAGE-PAGE  */
  .new-message__wrapper {
    display: flex;
    gap: var(--space-5xl);
  }
  .new-message__wrapper .post-card {
    margin-bottom: 0;
  }
  .new-message__section-wrapper {
    margin-top: -65px;
    width: 50%;
  }
  .new-message__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .post-card__hr {
    margin-top: auto;
  }
  .new-message__text {
    min-height: 180px;
    margin-bottom: 10px;
    max-width: 100%;
  }

  /** 404-PAGE  */
  .error-404__card {
    padding: var(--space-3xl);
  }
  .error-404__heading {
    font-size: var(--font-size-4xl);
  }
  .error-404__sub-heading {
    font-size: var(--font-size-2xl);
  }
  .error-404__text {
    padding-top: var(--space-l);
    font-size: var(--font-size-2xl);
  }
  .error-404__btn {
    font-size: var(--font-size-xl);
  }
}

/* Tablet Screen Range */
@media (min-width: 1200px) {
  .wrapper {
    max-width: var(--wrapper-width-xl);
  }
}
