:root {
  --clr-bg-1: #1a1a1a;
  --clr-bg-2: #121212;
  --clr-secondary: #c28840;
  --clr-tertiary: #b76e79;
  --clr-text-1: #c28840;
  --clr-text-2: rgba(255, 255, 255, 0.85);
  --clr-ok: #50c878;
  --clr-warning: #ffe852;
  --clr-error: #800020;
  --clr-button: #b76e79;
  --clr-shadow: rgba(0, 0, 0, 0.25);
  --font-family-primary: "Playfair", "Sans-serif";
  --font-family-secondary: "Cinzel", "Sans-serif";

  --space-xs: 3px;
  --space-s: 6px;
  --space-m: 9px;
  --space-l: 12px;
  --space-xl: 15px;
  --space-2xl: 20px;
  --space-3xl: 30px;
  --space-4xl: 40px;
  --space-5xl: 50px;
  --space-100: 100px;

  --line-height-ss: 0.85;
  --line-height-xs: 1;
  --line-height-s: 1.2;
  --line-height-m: 1.5;
  --line-height-l: 1.75;
  --line-height-xl: 2;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-xm: 18px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;
  --font-size-3xl: 36px;
  --font-size-4xl: 40px;

  --font-weight-regular: 300;
  --font-weight-semi: 600;
  --font-weight-bold: 800;

  --shadow-xs: 1px 1px 1px var(--clr-shadow);
  --shadow-s: 2px 2px 2px var(--clr-shadow);
  --shadow-m: 3px 3px 3px var(--clr-shadow);
  --shadow-l: 4px 4px 4px var(--clr-shadow);
  --shadow-xl: 5px 5px 5px var(--clr-shadow);
  --shadow-bottom: 0 4px 8px var(--clr-shadow);
  --shadow-top: 0 -4px 8px var(--clr-shadow);

  --opacity-low: 0.25;
  --opacity-mid: 0.5;
  --opacity-high: 0.75;
  --opacity-full: 1;

  --wrapper-width-l: 768px;
  --wrapper-width-xl: 1200px;
}

[data-theme="light"] {
  --clr-bg-1: #fffdf5;
  --clr-bg-2: #f4ecd8;
  --clr-secondary: #c28840;
  --clr-tertiary: #a36e5c;
  --clr-text-1: #5c3b09;
  --clr-text-2: rgba(0, 0, 0, 0.85);
  --clr-ok: #3d9140;
  --clr-warning: #e4b400;
  --clr-error: #992222;
  --clr-button: #c28840;
  --clr-shadow: rgba(0, 0, 0, 0.15);
}

.wrapper {
  max-width: var(--wrapper-width-l);
  margin: 0 auto;
  padding: 0 var(--space-2xl);
  display: flex;
  justify-content: center;
}
.faded {
  opacity: var(--opacity-high);
}
